<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BaiDu.com</title>
  <style type="text/css">

    .logo {
      text-align: center;
    }

    .nav {
      font-size: 14px;
      text-align: center;
    }

    .sousou {
      /*margin:0 auto;*/
      /*width: 500px;*/
      display: inline;
      text-align: center;
    }

    .search {
      width: 420px;
      height: 23px;
    }

    .btn {
      height: 30px;
      width: 100px;
      font-size: 14px;
    }

  </style>
</head>
<body>
<div class="logo">
  <img src="../../img/day-03/bdlogo.gif" alt="">
</div>
<!--居中内联元素（行内元素）text-align:center-->
<div class="nav">
  <a href="#">新 闻</a>&nbsp;
  <strong>网 页</strong>&nbsp;
  <a href="#"> 贴 吧</a> &nbsp;
  <a href="#">知 道</a>&nbsp;
  <a href="#">音 乐</a>&nbsp;
  <a href="#">图 片</a> &nbsp;
  <a href="#">视 频</a> &nbsp;
  <a href="#">地 图</a>
</div>
<br>
<!--居中块元素，margin:0 auto-->
<div class="sousou">
  <table>
    <tr>
      <td><input type="text" class="search"></td>
      <td><input type="button" value="百度一下" class="btn"></td>
    </tr>
  </table>
</div>
<span>
  我是一个span
</span>
</body>
</html>
