<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .parent{
      /*display: flex;*/
      /*justify-content: center;*/
      width: 200px;
      height: 100px;
      /*position: relative;*/
      border:1px solid;
      text-align: center;
    }
    .son{
      /*width: 100px;*/
      /*position: absolute;*/
      /*margin-left: 50px;*/
      /*margin:0 auto;*/
      /*text-align: center;*/
      display: inline-block;
    }
  </style>
</head>
<body>
<div class="parent">
  <div class="son">
    son
  </div>
</div>
<a href="">123  </a>
<a href="">23</a>
</body>
</html>
