<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    *{
      /*-webkit-text-size-adjust: none;*/
      /*box-sizing: border-box;*/
    }
    div {
      width: 200px;
      font-size: 18px;
      height: 100px;
      border: 1px solid;
      line-height: 100px;
      text-align: center;
    }

  </style>
</head>
<body>
<div>
  <span>我是文本1</span>
  <br>
  <span>我是文本1</span>
</div>
<span>我是文本</span>
</body>
<!--
1.为什么line-height 等于height可以垂直居中
line-height=font-size+行距
例子中的边距为70px，上下行距为35px


-->
</html>

