<!doctype html>

<html lang="ch-ZN">
<head>
  <title>
    世纪佳缘
  </title>
  <meta charset="utf-8">
</head>
<body>
<table width="600px" align="center" cellspacing="">
  <caption><h3>青春不常在，抓紧谈恋爱</h3></caption>
  <tbody>
  <tr height="40">
    <td>性别</td>
    <td>
      <label>
        <input type="radio" checked name="sex" value="1">
        <img src="../../img/day-02/man.jpg" alt="男性">
        男
      </label>
      <label>
        <input type="radio" checked name="sex" value="0">
        <img src="../../img/day-02/women.jpg" alt="女性">
        女
      </label>
    </td>
  </tr>
  <tr height="40">
    <td>生日</td>
    <td>
      <select name="year" id="year">
        <option value="1991" selected>1991</option>
        <option value="1992" selected>1992</option>
      </select>
      <select name="month" id="month">
        <option value="11" selected>11</option>
        <option value="12" selected>12</option>
      </select>
      <select name="day" id="day">
        <option value="01" selected>01</option>
        <option value="02" selected>02</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>所在地区</td>
    <td>
      <label>
        <input type="text" name="addr" value="北京">
      </label>
    </td>
  </tr>
  <tr>
    <td>婚姻状况</td>
    <td>
      <input type="radio" name="marriage" checked>未婚
      <input type="radio" name="marriage">离婚
      <input type="radio" name="marriage">离婚
    </td>
  </tr>
  <tr>
    <td>月薪</td>
    <td>
      <input type="text" value="5000-10000">
    </td>
  </tr>
  <tr>
    <td>手机号</td>
    <td>
      <input type="text" name="mobile">
    </td>
  </tr>
  <tr>
    <td>昵称</td>
    <td>
      <input type="text" name="alias">
    </td>
  </tr>
  <tr>
    <td>喜欢的类型</td>
    <td>
      <input type="checkbox" name="type" value="1">妩媚
      <input type="checkbox" name="type" value="2">柔美
      <input type="checkbox" name="type" value="3">可爱
      <input type="checkbox" name="type" value="4">小鲜肉
      <input type="checkbox" name="type" value="5">型男
      <input type="checkbox" name="type" value="6">气质
    </td>
  </tr>
  <tr>
    <td>自我介绍</td>
    <td>
      <textarea name="introduct" id="introduce" cols="50" rows="10"></textarea>
    </td>
  </tr>
  </tbody>
  <tr>
    <td></td>
    <td>
      <input type="image" src="../../img/day-02/btn(1).png">
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <input type="checkbox">我同意注册条款和会员加入标准
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <a href="login.html" target="_blank">是会员，立即登录</a>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <h3>我承诺</h3>
      <ul>
        <li>年满18岁、单身</li>
        <li>抱着严肃的态度</li>
        <li>真诚寻找另一半</li>
      </ul>
    </td>
  </tr>
</table>
</body>
</html>
