<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    div {
      width: 800px;
      height: 800px;
      background-image: url(../../img/day-03/bdlogo.gif);
      background-repeat: no-repeat;
      background-position: right top;
      background-attachment: scroll;
    }


    /*div {*/
    /*  background-color: red !important;*/
    /*}*/

    /*#color {*/
    /*  background-color: white;*/
    /*}*/

    /*.color {*/
    /*  background-color: pink;*/
    /*}*/

    div {
      background-color: olive;
    }


  </style>
</head>
<body>
<div id="color" class="color" >
  我是一个div标签
</div>


</body>
</html>
