<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    p {
      width: 200px;
      height: 20px;
      background-color: pink;
      margin:20px 20px;
      border:solid pink 5px;
      padding:5px 5px;
      outline-style: solid;
      outline-color: black;
      position: static;
    }

    div{
      position: sticky;
      position: -webkit-sticky;
    }

  </style>
</head>

<body>
<div>我是粘性定位</div>
<p>我是一个块级元素</p>
<div>我的兄弟被隐藏了</div>
</body>
</html>
