<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style rel="stylesheet">
    a {
      display: inline-block;
      height: 50px;
      width: 100px;
      line-height: 50px;
      background-color: pink;
      text-align: center;
      color: white;

    }
    a:hover{
      background-color:orange;
      color:red;
    }
  </style>
</head>
<body>
<a href="#">体育</a><a href="#">游戏</a><a href="">政治</a>
<button>
  我是一个按钮
</button>
</body>
</html>
