<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      width: 200px;
      /*position: absolute;*/
      text-align: center;
      text-decoration: none;
    }

    .dropdown:hover .dropdown-content{
      display: block;
    }
  </style>
</head>
<body>
<div class="dropdown">
  <span><a href="#" class="nav">下拉菜单</a></span>
  <ul class="dropdown-content">
    <li>菜鸟教程1</li>
    <li>菜鸟教程1</li>
    <li>菜鸟教程1</li>
  </ul>
</div>
</body>
</html>
