<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .parent{
      position: relative;
      left: 300px;
    }
    .position-test {
      position: relative;
      width: 200px;
      height: 100px;
      background-color: pink;
      top: 20px;
    }

    .absolute{
      position: relative;
      width: 200px;
      height: 100px;
      background-color: red;
      top: 40px;
    }

    .nav1 {
      width: 200px;
      height: 100px;
      background-color: #555555;
    }
  </style>
</head>
<body>
<div class="parent">
  <div class="nav1">
    我是一个导航栏
  </div>
  <div class="absolute">
    我是绝对定位
  </div>
  <div class="position-test">
    测试相对定位
  </div>
</div>
</body>
</html>
