<!doctype html>
<html>
<head>
  <title>Helloworld</title>
  <meta charset="utf-8">
</head>

<body>
<h1>1</h1>
<h2>2</h2>
<h3>3</h3>

<h1>
  西安一新冠肺炎定点医院封闭隔离病区发现1例确诊病例
</h1>
<hr />

<p>
  3月18日凌晨，西安市报告1例封闭隔离病区本土确诊病例。接到报告后，省卫生健康委立即指派专家连夜赶赴西安市指导处置工作。
</p>

<p>
  确诊病例刘某，西安市第八医院封闭隔离病区检验师，主要负责隔离病区内患者的核酸采集、实验室检验工作。该病例3月3日核酸检测阴性，3月4日进入封闭隔离病区，一直在封闭隔离状态下工作和生活，与外界没有接触。3月11日，每周例行核酸检测阴性。截至3月16日，每日监测体温均正常。3月17日8时35分，出现头痛，体温37.9℃，胸部CT双肺可见云絮影，核酸检测结果可疑。当日省、市两级疾控中心再次核酸检测，结果均为阳性。3月18日凌晨，经省市联合专家组会诊，诊断为新冠肺炎确诊病例，目前在定点医疗机构隔离治疗。
</p>

<p>
  经省市专家组初步研判，该病例系在封闭隔离病区内意外暴露造成偶发感染。该医院为收治新冠肺炎的定点医院，现隔离治疗和医学观察境外输入确诊病例8例、无症状感染者5例。隔离病区实行全封闭管理，同批次工作人员3月4日以来均在封闭隔离状态下工作和生活，目前核酸检测结果均为阴性，已全部落实隔离医学观察措施，对其工作、生活场所已落实环境采样、封闭隔离、终末消毒等防控措施。
</p>

<p>
  我需要换下行<br />我被换行了

  <strong>
    我被加粗了
  </strong>

  <b>
    我被加醋了
  </b>

  <del>
    我被删除了
  </del>

  <s>
    我被删除了
  </s>

  <ins>
    shi
  </ins>


  <a href="../../404.html" target="_blank">
    <img src=" https://img3.912688.com/o_1di27pcs918qq9fd11d314n91b9415.jpg?imageView2/2/w/1920#123 " alt="这是一个挖掘机"/>
  </a>
</p>
</body>
</html>
